<h1>Hello</h1>
<button id="start" data-on-click="@get('/stream', {openWhenHidden: true})">Start</button>

<button id="toggle" data-on-click="@post('/toggle')">Toggle list</button>

<p id="count" data-bind="count">count is <span data-text="$count">0</span></p>

<div id="time">time...</div>

<div id="list"></div>
